mixin pageTitle({title, depth1, depth2, depth3, depth4, depth5})
    .page-title
        h3= title
        .nav
            ol.nav__list
                li.nav__item= depth1
                li.nav__item= depth2
                li.nav__item= depth3
                li.nav__item= depth4
                li.nav__item= depth5